<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <title>Add New Blog</title>
</head>
<body>
    <%- include('./partials/nav') %> 

    <div class="container mt-3">
      <form  action="/blog/add-new"  method="post" enctype="multipart/form-data">
        <!-- Title Input -->
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="title" >  
        </div>

    <div class="container mt-3">
      
        <!-- Title Input -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="title" required>  
        </div>

        <!-- Blog Content (Textarea) -->
        <div class="mb-3">
          <label for="content" class="form-label">Blog Content</label>
          <textarea name="body" class="form-control" placeholder="Enter your blog content here" id="content" name="content" style="height: 200px" required></textarea>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('./partials/scripts') %> 
</body>
</html>
